In [794]:
import pandas as pd
import numpy as np
import re

from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.metrics import roc_curve,auc
from sklearn import metrics
from sklearn.grid_search import GridSearchCV, RandomizedSearchCV
from sklearn import cross_validation

In [795]:
#%install_ext https://raw.githubusercontent.com/rasbt/watermark/master/watermark.py
%load_ext watermark
%watermark -g -m -v -p pandas,scikit-learn

The watermark extension is already loaded. To reload it, use:
  %reload_ext watermark
CPython 2.7.10
IPython 3.1.0

pandas 0.16.2
scikit-learn 0.16.0

compiler   : GCC 4.4.7 20120313 (Red Hat 4.4.7-1)
system     : Linux
release    : 3.16.0-67-generic
machine    : x86_64
processor  : x86_64
CPU cores  : 8
interpreter: 64bit
Git hash   : 948874e37b6f8bebff81ce56569be23254686efd

In [796]:
df = pd.read_csv("train.csv")
df.shape

(26729, 10)

In [797]:
format = '%Y-%m-%d %H:%M:%S'
df['DateTime'] = df['DateTime'].apply(lambda x: pd.to_datetime(x, format=format))
df['Hour'] = df['DateTime'].apply(lambda x: x.hour).astype(np.int16)
df['Day_of_week'] = df['DateTime'].apply(lambda x: x.dayofweek).astype(np.int16)

# Age

In [798]:
obj = re.compile("(?P<num>\d+)\s*(?P<word>\w+)")
def convert_age(string):
    match = obj.search(string)
    if match:
        return match.groups()
    else:
        None, None

In [799]:
%%bash
cat train.csv | cut -d, -f 8 | cut -d' ' -f 2 | sort | uniq -c

     18
      1 AgeuponOutcome
     66 day
    332 days
   1281 month
   8339 months
    146 week
   1704 weeks
   3969 year
  10874 years

In [800]:
convert_dict = {None:0, 
                'day':1, 
                'days':1, 
                'month':30, 
                'months':30, 
                'year':365, 
                'years':365, 
                'week':7, 
                'weeks':7
               }

In [801]:
df['AgeuponOutcome_inDays'] = np.zeros((df.shape[0], 1), dtype=np.int16)

for i in range(df.shape[0]):
    try:
        string = df.loc[i, 'AgeuponOutcome']
        num, word = convert_age(string)
        num_days = int(num) * convert_dict[word]
        df.loc[i, 'AgeuponOutcome_inDays'] = num_days
    
    except:
        continue

In [802]:
df.head(n=3)

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color,Hour,Day_of_week,AgeuponOutcome_inDays
0,A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White,18,2,365
1,A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby,12,6,365
2,A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White,12,5,730

# Name

In [803]:
df['has_name_bool'] = df['Name'].apply(lambda x: 1 if x is not None else 0)
df['has_name_bool'] = df['has_name_bool'].astype(np.int16)

# Color

In [804]:
color = df.groupby('Color').count()['AnimalID'].sort(inplace=False)

In [805]:
color.sample(n=10).head()

Color
Cream/Brown          2
Blue Tick           18
Seal Point/White    19
Fawn/Black          19
White/White         12
Name: AnimalID, dtype: int64

In [806]:
obj = re.compile('(\w+)\s*(\w+)*/*(\w+)*')
def break_up_colors(string):
    match = obj.search(string)
    if match:
        colors = match.groups()
        return colors
    else:
        return None

In [807]:
colors = []
for c in color.index:
    colors +=break_up_colors(c)

colors = np.unique(colors)
print (colors)

[None 'Agouti' 'Apricot' 'Black' 'Blue' 'Brindle' 'Brown' 'Buff' 'Calico'
 'Chocolate' 'Cream' 'Fawn' 'Flame' 'Gold' 'Gray' 'Lilac' 'Liver' 'Lynx'
 'Merle' 'Orange' 'Pink' 'Point' 'Red' 'Ruddy' 'Sable' 'Seal' 'Silver'
 'Smoke' 'Tabby' 'Tan' 'Tick' 'Tiger' 'Torbie' 'Tortie' 'Tricolor' 'White'
 'Yellow']

In [808]:
df_colors = pd.DataFrame(columns=colors, data=np.zeros((df.shape[0], colors.shape[0]), np.int16))

In [809]:
for i in range(df.shape[0]):
    color_string = df.loc[i, 'Color']
    color_string_tuple = break_up_colors(color_string)
    df_colors.loc[i, color_string_tuple] = 1

# Breed

In [939]:
breed = df.groupby('Breed').count()['AnimalID']

breeds = []
for b in breed.index:
    breeds +=break_up_colors(b)

breeds = np.unique(breeds)
print breeds[0::4]

[None 'Airedale' 'Anatol' 'Australian' 'Bay' 'Bedlington' 'Bichon'
 'Bluetick' 'Border' 'Boykin' 'Bruss' 'Burmese' 'Cane' 'Cattle' 'Chin'
 'Coated' 'Coonhound' 'Cur' 'Dane' 'Dog' 'Dutch' 'Eskimo' 'Finnish'
 'Foxhound' 'Giant' 'Greater' 'Hairless' 'Heeler' 'Hovawart' 'Irish'
 'Japanese' 'Kelpie' 'Landseer' 'Lowchen' 'Maltese' 'Medium' 'Mountain'
 'Newfoundland' 'Nova' 'Otterhound' 'Pbgv' 'Persian' 'Pinscher' 'Podengo'
 'Poodle' 'Pyrenees' 'Redbone' 'Ridgeback' 'Russian' 'Schnauzer' 'Setter'
 'Shetland' 'Siamese' 'Smooth' 'Spaniel' 'Spitz' 'Standard' 'Tennesse'
 'Tibetan' 'Turkish' 'Van' 'Weimaraner' 'Wire' 'Yorkshire']

In [940]:
df_breed = pd.DataFrame(columns=breeds, data=np.zeros((df.shape[0], breeds.shape[0]), np.int8))

In [941]:
for i in range(df.shape[0]):
    breed_string = df.loc[i, 'Breed']
    breed_string_tuple = break_up_colors(breed_string)
    df_breed.loc[i, breed_string_tuple] = 1

In [944]:
df_breed.drop(['Mix', 'Unknown', 'Dog'], axis=1, inplace=True)

# Breed Outcomesubtype

In [971]:
grp = df.groupby(['OutcomeSubtype'])
breed_outcome = grp.count()['AnimalID']
ind = breed_outcome >= 200
print breed_outcome[ind]

OutcomeSubtype
Aggressive     320
Foster        1800
Partner       7816
SCRP          1599
Suffering     1002
Name: AnimalID, dtype: int64

In [958]:
df_sub = pd.get_dummies(df['OutcomeSubtype'])
df_sub = df_sub[['Aggressive', 'Foster', 'Partner', 'SCRP', 'Suffering']]
df_sub['Breed'] = df['Breed']

count = df_sub.groupby("Breed").sum()
print count.sample(n=3)

                                 Aggressive  Foster  Partner  SCRP  Suffering
Breed
Maine Coon Mix                            0      10        7     4          0
Great Dane/Pit Bull                       0       0        0     0          0
English Springer Spaniel/Beagle           0       0        0     0          0

In [961]:
zeros = np.zeros((len(breeds)), dtype=np.int16)
breed_sub_df = pd.DataFrame({'Breed': breeds,
                             'Aggressive': zeros,
                             'Foster': zeros,
                             'Partner': zeros,
                             'SCRP': zeros,
                             'Suffering': zeros,
                            })

for b in count.index:
    tuple_ = break_up_colors(b)
    for i in range(breed_sub_df.shape[0]):
        if breed_sub_df.loc[i, 'Breed'] in tuple_:
            breed_sub_df.loc[i, 'Aggressive'] = 1 
            breed_sub_df.loc[i, 'Foster'] = 1 
            breed_sub_df.loc[i, 'Partner'] = 1 
            breed_sub_df.loc[i, 'SCRP'] = 1 
            breed_sub_df.loc[i, 'Suffering'] = 1

In [980]:
breed_sub_df = breed_sub_df.ix[1:, :] # drop the 'None' row
breed_sub_df.reset_index(inplace=True)
breed_sub_df.sample(n=5)

     Aggressive    Breed  Foster  Partner  SCRP  Suffering
45            1    Cairn       1        1     1          1
153           1   Ocicat       1        1     1          1
192           1  Russian       1        1     1          1
97            1     Glen       1        1     1          1
77            1     Dogo       1        1     1          1

In [979]:
zeros = np.zeros(df.shape[0], dtype=np.int16)

df['Aggressive'] = zeros
df['Foster'] = zeros
df['Partner'] = zeros
df['SCRP']= zeros
df['Suffering'] = zeros
                       
for i in range(df.shape[0]):
    string = df.loc[i, 'Breed']
    tuple_ = break_up_colors(string)
    for j in range(1, breed_sub_df.shape[0]):
        word = breed_sub_df.loc[j, 'Breed']
        if word in tuple_ and not np.all(df.loc[i, ['Aggressive', 'Foster', 'Partner', 'SCRP', 'Suffering']]):
            df.loc[i, 'Aggressive'] += breed_sub_df.loc[j, 'Aggressive']
            df.loc[i, 'Foster'] += breed_sub_df.loc[j, 'Foster']
            df.loc[i, 'Partner'] += breed_sub_df.loc[j, 'Partner']
            df.loc[i, 'SCRP'] += breed_sub_df.loc[j, 'SCRP']
            df.loc[i, 'Suffering'] += breed_sub_df.loc[j, 'Suffering']

## Mix

In [983]:
obj = re.compile('(?i)mix')
df['mix'] = df['Breed'].apply(lambda x: 1 if obj.search(x) else 0)

## Put it all together

In [984]:
df_final = pd.get_dummies(df[['OutcomeType', 'AnimalType', 'SexuponOutcome']])
df_final = pd.concat([df_final, 
                      df_colors, 
                      df_breed, 
                      df['AgeuponOutcome_inDays'],
                      df['has_name_bool'], 
                      df['Hour'], 
                      df['Day_of_week'],
                      df['mix'],
                      df['Aggressive'],
                      df['Foster'],
                      df['Partner'],
                      df['SCRP'],
                      df['Suffering']
                     ], axis=1)

In [985]:
indices = np.where(df_final.columns == None)[0]
print indices
df_final = pd.concat([df_final.ix[:, 0:12], df_final.ix[:, 13:49],df_final.ix[:, 50:]], axis=1)
print df_final.shape

[12 49]
(26729, 307)

In [986]:
print np.where(df_final.columns == None)[0]

for col in df_final:
    df_final[col] = df_final[col].astype(np.int16)

[]

In [987]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26729 entries, 0 to 26728
Columns: 307 entries, OutcomeType_Adoption to Suffering
dtypes: int16(307)
memory usage: 15.9 MB

In [988]:
print df_colors.shape
print df_breed.shape
print df_final.shape

(26729, 37)
(26729, 250)
(26729, 307)

In [989]:
Y = df_final[['OutcomeType_Adoption', 
              'OutcomeType_Died', 
              'OutcomeType_Euthanasia', 
              'OutcomeType_Return_to_owner', 
              'OutcomeType_Transfer']]

X = df_final.drop(Y.columns, axis=1)

In [990]:
X.shape

(26729, 302)

In [991]:
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, Y, train_size=0.3, random_state=0)

In [992]:
clf = RandomForestClassifier(random_state=0, 
                             n_jobs=4, 
                             n_estimators=df_final.shape[1]*2, 
                             max_features='sqrt',
                             min_samples_split=1
                            )
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='sqrt', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=1,
            min_weight_fraction_leaf=0.0, n_estimators=614, n_jobs=4,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [993]:
y_pred = clf.predict(X_test)
error = metrics.classification_report(y_test, y_pred)
print error

             precision    recall  f1-score   support

          0       0.72      0.69      0.71      7617
          1       0.36      0.03      0.06       125
          2       0.21      0.02      0.03      1090
          3       0.46      0.20      0.28      3291
          4       0.77      0.61      0.68      6588

avg / total       0.66      0.53      0.58     18711

In [994]:
importances = clf.feature_importances_
indices = np.argsort(importances)[::-1]

for f in range(df_final.columns.shape[0]):
    print("(%d)'%s' - %f" % (f + 1, df_final.columns[indices[f]], 
          importances[indices[f]]))

(1)'Wire' - 0.207449
(2)'Wirehaired' - 0.151398
(3)'Wolfhound' - 0.106470
(4)'AnimalType_Cat' - 0.038842
(5)'OutcomeType_Euthanasia' - 0.034575
(6)'OutcomeType_Transfer' - 0.033893
(7)'OutcomeType_Return_to_owner' - 0.033314
(8)'Tick' - 0.026938
(9)'SexuponOutcome_Neutered Male' - 0.020544
(10)'Agouti' - 0.017814
(11)'Yorkshire' - 0.015282
(12)'AnimalType_Dog' - 0.014183
(13)'Sable' - 0.012298
(14)'Sheepdog' - 0.011520
(15)'OutcomeType_Adoption' - 0.009975
(16)'SexuponOutcome_Spayed Female' - 0.009688
(17)'OutcomeType_Died' - 0.008847
(18)'De' - 0.008583
(19)'Ruddy' - 0.006673
(20)'Lynx' - 0.006162
(21)'SexuponOutcome_Unknown' - 0.006005
(22)'Carolina' - 0.005690
(23)'Persian' - 0.005644
(24)'Javanese' - 0.005461
(25)'Cornish' - 0.005313
(26)'Boykin' - 0.005299
(27)'Tan' - 0.004956
(28)'Pyrenees' - 0.004716
(29)'Blue' - 0.004694
(30)'Labrador' - 0.004669
(31)'Swedish' - 0.004448
(32)'American' - 0.004231
(33)'Scottish' - 0.004162
(34)'Chocolate' - 0.004084
(35)'Forest' - 0.003971
(36)'Brindle' - 0.003756
(37)'Gray' - 0.003545
(38)'Manchester' - 0.003448
(39)'Apricot' - 0.003165
(40)'Boerboel' - 0.003164
(41)'Affenpinscher' - 0.003070
(42)'Malinois' - 0.002802
(43)'Orange' - 0.002720
(44)'Blue' - 0.002694
(45)'Tiger' - 0.002602
(46)'Plott' - 0.002554
(47)'Canario' - 0.002487
(48)'British' - 0.002368
(49)'Brown' - 0.002357
(50)'Sphynx' - 0.002256
(51)'Australian' - 0.002217
(52)'Whippet' - 0.002184
(53)'Pinscher' - 0.002119
(54)'Tabby' - 0.002112
(55)'Chinese' - 0.002109
(56)'Presa' - 0.002104
(57)'Redbone' - 0.002076
(58)'Black' - 0.002048
(59)'Pointing' - 0.001983
(60)'Canaan' - 0.001968
(61)'Ibizan' - 0.001908
(62)'Russell' - 0.001879
(63)'Bruss' - 0.001855
(64)'Sharpei' - 0.001797
(65)'Gold' - 0.001788
(66)'Shetland' - 0.001728
(67)'Rex' - 0.001709
(68)'Heeler' - 0.001683
(69)'Tibetan' - 0.001663
(70)'Frise' - 0.001648
(71)'Longhair' - 0.001607
(72)'Pixiebob' - 0.001536
(73)'Smoke' - 0.001509
(74)'Cavalier' - 0.001482
(75)'Point' - 0.001462
(76)'Calico' - 0.001458
(77)'Apso' - 0.001421
(78)'Liver' - 0.001416
(79)'Havana' - 0.001265
(80)'Pomeranian' - 0.001229
(81)'Bobtail' - 0.001229
(82)'Van' - 0.001178
(83)'French' - 0.001128
(84)'Burmese' - 0.001091
(85)'Jack' - 0.001062
(86)'Dachshund' - 0.001055
(87)'Shepherd' - 0.001053
(88)'Dogo' - 0.001049
(89)'Pembroke' - 0.001037
(90)'Lowchen' - 0.000969
(91)'Kuvasz' - 0.000964
(92)'Flame' - 0.000964
(93)'Akita' - 0.000954
(94)'Red' - 0.000942
(95)'Picardy' - 0.000906
(96)'Pink' - 0.000897
(97)'Pequeno' - 0.000889
(98)'Bedlington' - 0.000839
(99)'SexuponOutcome_Intact Male' - 0.000815
(100)'Chin' - 0.000803
(101)'Bengal' - 0.000791
(102)'Cairn' - 0.000784
(103)'Walker' - 0.000721
(104)'Afghan' - 0.000717
(105)'Cattle' - 0.000717
(106)'Spinone' - 0.000711
(107)'Seal' - 0.000665
(108)'Abyssinian' - 0.000658
(109)'Skye' - 0.000654
(110)'Eskimo' - 0.000635
(111)'Otterhound' - 0.000617
(112)'Silver' - 0.000610
(113)'Weimaraner' - 0.000588
(114)'Ragdoll' - 0.000579
(115)'Rat' - 0.000576
(116)'Sealyham' - 0.000567
(117)'Buff' - 0.000566
(118)'Siberian' - 0.000535
(119)'Poodle' - 0.000529
(120)'Crested' - 0.000525
(121)'Terr' - 0.000521
(122)'Chesa' - 0.000514
(123)'Angora' - 0.000493
(124)'Malamute' - 0.000478
(125)'Chihuahua' - 0.000462
(126)'Jindo' - 0.000461
(127)'Greater' - 0.000454
(128)'Mastiff' - 0.000439
(129)'Papillon' - 0.000428
(130)'St' - 0.000424
(131)'Scotia' - 0.000422
(132)'Old' - 0.000408
(133)'Maine' - 0.000406
(134)'Mountain' - 0.000389
(135)'Shorthair' - 0.000382
(136)'Rhod' - 0.000379
(137)'Water' - 0.000363
(138)'Landseer' - 0.000345
(139)'Chow' - 0.000344
(140)'Nova' - 0.000332
(141)'Boxer' - 0.000331
(142)'Siamese' - 0.000330
(143)'Schnauzer' - 0.000328
(144)'Patterdale' - 0.000326
(145)'Vizsla' - 0.000302
(146)'Ocicat' - 0.000301
(147)'Bay' - 0.000300
(148)'Finnish' - 0.000288
(149)'Glen' - 0.000285
(150)'Bull' - 0.000273
(151)'Giant' - 0.000254
(152)'Hairless' - 0.000249
(153)'Setter' - 0.000243
(154)'Beauceron' - 0.000243
(155)'Entlebucher' - 0.000237
(156)'Cream' - 0.000235
(157)'Himalayan' - 0.000235
(158)'Vallhund' - 0.000234
(159)'Rough' - 0.000234
(160)'Hair' - 0.000229
(161)'Fawn' - 0.000228
(162)'Yellow' - 0.000225
(163)'Golden' - 0.000223
(164)'Domestic' - 0.000213
(165)'Standard' - 0.000213
(166)'Belgian' - 0.000202
(167)'Devon' - 0.000198
(168)'Inu' - 0.000198
(169)'Pug' - 0.000197
(170)'Cane' - 0.000195
(171)'Springer' - 0.000194
(172)'Spitz' - 0.000191
(173)'Silky' - 0.000189
(174)'German' - 0.000189
(175)'Spanish' - 0.000185
(176)'Leonberger' - 0.000185
(177)'Hovawart' - 0.000176
(178)'Corso' - 0.000172
(179)'Munchkin' - 0.000159
(180)'Of' - 0.000158
(181)'Cardigan' - 0.000147
(182)'Miniature' - 0.000144
(183)'Lhasa' - 0.000138
(184)'West' - 0.000138
(185)'Shiba' - 0.000137
(186)'Argentino' - 0.000135
(187)'Flat' - 0.000135
(188)'Feist' - 0.000134
(189)'Hound' - 0.000132
(190)'Swiss' - 0.000131
(191)'Tan' - 0.000130
(192)'Spaniel' - 0.000125
(193)'Ridgeback' - 0.000124
(194)'Mexican' - 0.000124
(195)'Retriever' - 0.000123
(196)'Beagle' - 0.000122
(197)'Griffon' - 0.000122
(198)'Bichon' - 0.000122
(199)'Tonkinese' - 0.000120
(200)'Italiano' - 0.000114
(201)'Basenji' - 0.000113
(202)'Norwegian' - 0.000111
(203)'Cocker' - 0.000109
(204)'Italian' - 0.000109
(205)'Span' - 0.000108
(206)'Saluki' - 0.000105
(207)'Border' - 0.000104
(208)'Black' - 0.000101
(209)'Bullmastiff' - 0.000100
(210)'Dane' - 0.000099
(211)'Bloodhound' - 0.000096
(212)'Borzoi' - 0.000095
(213)'Lacy' - 0.000094
(214)'Bombay' - 0.000091
(215)'Tortie' - 0.000087
(216)'Cur' - 0.000082
(217)'Snowshoe' - 0.000080
(218)'Queensland' - 0.000080
(219)'Basset' - 0.000078
(220)'Cymric' - 0.000076
(221)'Terrier' - 0.000071
(222)'Field' - 0.000068
(223)'Treeing' - 0.000066
(224)'White' - 0.000064
(225)'Schipperke' - 0.000064
(226)'Coonhound' - 0.000063
(227)'Bernese' - 0.000061
(228)'Catahoula' - 0.000055
(229)'Medium' - 0.000054
(230)'Husky' - 0.000051
(231)'Havanese' - 0.000051
(232)'Brittany' - 0.000049
(233)'Harrier' - 0.000042
(234)'Soft' - 0.000039
(235)'Turkish' - 0.000034
(236)'Airedale' - 0.000034
(237)'Alaskan' - 0.000034
(238)'Dalmatian' - 0.000032
(239)'Kelpie' - 0.000031
(240)'Norfolk' - 0.000031
(241)'Shih' - 0.000031
(242)'Port' - 0.000030
(243)'Bulldog' - 0.000030
(244)'Rottweiler' - 0.000029
(245)'Pbgv' - 0.000028
(246)'Foxhound' - 0.000027
(247)'Pharaoh' - 0.000026
(248)'Coat' - 0.000025
(249)'Pointer' - 0.000024
(250)'Keeshond' - 0.000019
(251)'English' - 0.000017
(252)'Bearded' - 0.000013
(253)'Manx' - 0.000013
(254)'Tennesse' - 0.000012
(255)'Torbie' - 0.000012
(256)'Doberman' - 0.000011
(257)'Mouth' - 0.000010
(258)'Bluetick' - 0.000009
(259)'Lilac' - 0.000009
(260)'Elkhound' - 0.000007
(261)'Smooth' - 0.000007
(262)'SexuponOutcome_Intact Female' - 0.000000
(263)'Dutch' - 0.000000
(264)'Staffordshire' - 0.000000
(265)'Hour' - 0.000000
(266)'Exotic' - 0.000000
(267)'has_name_bool' - 0.000000
(268)'AgeuponOutcome_inDays' - 0.000000
(269)'Fox' - 0.000000
(270)'Wirehair' - 0.000000
(271)'Day_of_week' - 0.000000
(272)'Greyhound' - 0.000000
(273)'Tervuren' - 0.000000
(274)'Dogue' - 0.000000
(275)'Highland' - 0.000000
(276)'Great' - 0.000000
(277)'Tzu' - 0.000000
(278)'Welsh' - 0.000000
(279)'Toy' - 0.000000
(280)'Collie' - 0.000000
(281)'Irish' - 0.000000
(282)'Japanese' - 0.000000
(283)'Podengo' - 0.000000
(284)'Pit' - 0.000000
(285)'Balinese' - 0.000000
(286)'Pinsch' - 0.000000
(287)'Pekingese' - 0.000000
(288)'Parson' - 0.000000
(289)'Tricolor' - 0.000000
(290)'Boston' - 0.000000
(291)'Norwich' - 0.000000
(292)'Brown' - 0.000000
(293)'Russian' - 0.000000
(294)'Newfoundland' - 0.000000
(295)'Samoyed' - 0.000000
(296)'Neapolitan' - 0.000000
(297)'Maltese' - 0.000000
(298)'Coated' - 0.000000
(299)'Merle' - 0.000000
(300)'Anatol' - 0.000000
(301)'Coon' - 0.000000
(302)'mix' - 0.000000

IndexError: index 302 is out of bounds for axis 0 with size 302

In [762]:
cv = cross_validation.KFold(X_test.shape[0], 10, shuffle=True, random_state=0)
cross_validation.cross_val_score(clf, X_test, y_test, cv=cv, n_jobs=7)

array([ 0.84081197,  0.8364511 ,  0.84500267,  0.84339925,  0.818279  ,
        0.82469268,  0.8444682 ,  0.84607162,  0.8343132 ,  0.82576162])

In [300]:
#params = {'min_samples_split': np.arange(1, 15)}
#gs = Grid(clf, cv=cv, n_jobs=7)
#gs.fit(X, Y)
#best_parameters, score, _ = max(gs.grid_scores_, key=lambda x: x[1])
#for param_name in sorted(params.keys()):
#    print("%s: %r" % (param_name, best_parameters[param_name]))

# Test Data Set

In [763]:
df_new = pd.read_csv("test.csv")
df_new.shape

(11456, 8)

In [764]:
format = '%Y-%m-%d %H:%M:%S'
df_new['DateTime'] = df_new['DateTime'].apply(lambda x: pd.to_datetime(x, format=format)) 
df_new['Hour'] = df_new['DateTime'].apply(lambda x: x.hour).astype(np.int16)
df_new['Day_of_week'] = df_new['DateTime'].apply(lambda x: x.dayofweek).astype(np.int16)

In [765]:
df_new['AgeuponOutcome_inDays'] = np.zeros((df_new.shape[0], 1), dtype=np.int16)
for i in range(df_new.shape[0]):
    try:
        string = df_new.loc[i, 'AgeuponOutcome']
        num, word = convert_age(string)
        num_days = int(num) * convert_dict[word]
        df_new.loc[i, 'AgeuponOutcome_inDays'] = num_days
    
    except:
        continue

In [766]:
df_new['has_name_bool'] = df_new['Name'].apply(lambda x: 1 if x is not None else 0)
df_new['has_name_bool'] = df_new['has_name_bool'].astype(np.int16)

In [767]:
df_colors = pd.DataFrame(columns=colors, data=np.zeros((df_new.shape[0], colors.shape[0]), np.int16))
for i in range(df_new.shape[0]):
    color_string = df_new.loc[i, 'Color']
    color_string_tuple = break_up_colors(color_string)
    df_colors.loc[i, color_string_tuple] = 1

In [768]:
df_breed = pd.DataFrame(columns=breeds, data=np.zeros((df_new.shape[0], breeds.shape[0]), np.int8))
for i in range(df_new.shape[0]):
    breed_string = df_new.loc[i, 'Breed']
    breed_string_tuple = break_up_colors(breed_string)
    
    try: 
        df_breed.loc[i, breed_string_tuple] = 1
    except:   
        continue

In [769]:
obj = re.compile('(?i)mix')
df_new['mix'] = df_new['Breed'].apply(lambda x: 1 if obj.search(x) else 0)

In [770]:
print df_colors.shape
print df_breed.shape

(11456, 37)
(11456, 253)

In [588]:
df_new_final = pd.get_dummies(df_new[['AnimalType', 'SexuponOutcome']])
df_new_final = pd.concat([df_new_final, 
                      df_colors, 
                      df_breed, 
                      df_new['AgeuponOutcome_inDays'],
                      df_new['has_name_bool'], 
                      df_new['Hour'], 
                      df_new['Day_of_week'],
                      df_new['mix']    
                     ], axis=1)

In [589]:
df_new_final.shape

(11456, 301)

In [590]:
indices = np.where(df_new_final.columns == None)[0]
print indices
df_new_final = pd.concat([df_new_final.ix[:, 0:7], df_new_final.ix[:, 8:44], df_new_final.ix[:, 45:]], axis=1)
print df_new_final.shape

[ 7 44]
(11456, 299)

In [591]:
print np.where(df_new_final.columns == None)[0]
for col in df_final:
    df_final[col] = df_final[col].astype(np.int16)

[]

In [592]:
x = set(X.columns)
y = set(df_new_final.columns)
x-y

set()

In [593]:
clf = RandomForestClassifier(random_state=0, 
                             n_jobs=4, 
                             n_estimators=df_final.shape[1]*2, 
                             max_features='sqrt',
                             min_samples_split=1
                            )
clf.fit(X, Y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='sqrt', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=1,
            min_weight_fraction_leaf=0.0, n_estimators=608, n_jobs=4,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [594]:
final_pred = clf.predict(df_new_final)